# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Sass
.sass-cache/

# Webpack
/assets/js/bundle.js

# WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# IDEs and Editors
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Log files
*.log

# Environment files
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/

# Miscellaneous
.DS_Store
Thumbs.db
